# Some config files of the world's most favorite text editor - VIM ;-)
lvimrc
.lvimrc
.ycm_extra_conf.py
.ycm_extra_conf.pyc
*.swp
*.swo
#.clang-format
.clangd
.cache

# Generated doc
**/doc/developer/html/*
**/doc/developer/doxygen_sqlite3.db
**/doc/api/html/*
**/doc/api/doxygen_sqlite3.db

# Ignore contents of the build directory
**/build/*
**/build-*/*
!**/build/.dummy
!**/build/.keep
!**/build/README
!**/build/README.*
**/deploy/*

# In-source build artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Qt Creator creates these some times:
**/CMakeLists.txt.user

# Compile commands list
compile_commands.json

# Example data
example/data
example/results

# ctags
tags

# Backup files
*.*~

# Logs
*.log

# Python Pyc
*.pyc
__pycache__

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
